body {
  min-width: 320px;
}

.logo {
  margin: 20px auto;
  width: 324px;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  border: 6px solid orange;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid orange;
  font-size: 12px;

}

.list-group-item {
  cursor: pointer;
  margin: 10px 0;
}

.list-group-item:hover {
  background-color: #ddd;
}

.list-group-item:nth-child(1) {
    margin: 0;
}

